







h1{
    text-align:center;
}

.photos{
    border: 10px solid #3495eb;
    padding: 5px;
    margin: 5px;
}

.aboutMe{
    border: 10px solid #3495eb;
    padding: 5px;
    margin: 5px;
}

.menu{
    border: 10px solid #3495eb;
    padding: 5px;
    margin: 5px;
}





body{
   background-image: linear-gradient(#42f5ec, white);
}

img{
    width:250px;
    height:200px;
}